[submodule "gc"]
	path = gc
	url = https://github.com/shenango/boehmGC.git
[submodule "parsec"]
	path = parsec
	url = https://github.com/shenango/parsec.git
[submodule "caladan"]
	path = caladan
	url = https://github.com/estuhr1206/caladan-overload-control.git
	branch = caladan-oc
[submodule "memcached"]
	path = memcached
	url = https://github.com/estuhr1206/memcached.git
	branch = coresync
